{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', id=name, placeholder=artist.name, autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', id=city, placeholder=artist.city, autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder=artist.state, id=form.state.id, autofocus = true, form.state.data = artist.state) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', id=phone, placeholder=artist.phone, autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', id=form.genres.id, autofocus = true, form.genres.data = artist.genres) }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder=artist.facebook_link, id=facebook_link, autofocus = true) }}
        </div>
        <div class="form-group">
          <label for="seeking_venue">Is the artist currently seeking a venue?</label>
          {{ form.seeking_venue(class_ = 'form-control', id=form.seeking_venue.id, placeholder=artist.seeking_venue, autofocus = true, form.seeking_venue.data = artist.seeking_venue) }}
        </div>
        <div class="form-group">
          <label for="seeking_description">What kind of venue are you looking for?</label>
          {{ form.seeking_description(class_ = 'form-control', id=seeking_description, placeholder=artist.seeking_description, autofocus = true) }}
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          {{ form.website(class_ = 'form-control', id=website, placeholder=artist.website, autofocus = true) }}
        </div>
        <div class="form-group">
          <label for="image_link">Artist Image Link</label>
          {{ form.image_link(class_ = 'form-control', id=image_link, placeholder=artist.image_link, autofocus = true) }}
      </div>
      <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}