<html>
	<head>
		<title>Todo App</title>
		<style>
			.hidden {
				display: none;
			}
		</style>
	</head>

	<body>
		<form method="POST" action="/todos/create" id="form">
			<input type="text" id="description" name="description" />
			<input type="submit" value="Create" />
		</form>
		<div id="error" class="hidden">Something went wrong</div>
		<ul id="todos">
			{% for d in data %}
				<li>{{d.description}}</li>
			{% endfor %}
		</ul>

		<script>
			
			document.getElementById('form').onsubmit = async(e) =>{
				e.preventDefault();
				let userInput = document.getElementById('description').value
				response = fetch('/todos/create', {
					method: 'POST',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify({'description': userInput})
				});
				try {
					console.log(userInput);
					let liItem = document.createElement('LI');
					liItem.innerHTML = userInput;
					document.getElementById('todos').appendChild(liItem);
					document.getElementById('error').className = 'hidden';
				}catch(error) {
					console.log('error', error);
					document.getElementById('error').className = '';
				}
				//.then(response => {
				//	let item = response.json();
				//	return response.json();
				//})
				//.then(jsonResponse => { 
				//	console.log(jsonResponse);
				//	let liItem = document.createElement('LI');
				//	liItem.innerHTML = jsonResponse['description'];
				//	document.getElementById('todos').appendChild(liItem);
				//	document.getElementById('error').className = 'hidden';
				//})
				//.catch(function() {
				//	document.getElementById('error').className = '';
				//})
			}
		</script>
	</body>

</html>